@function calculateRem($size) {
  $remSize: $size / 16px;
  //Default font size on html element is 100%, equivalent to 16px;
  @return #{$remSize}rem;
}

// Mixin that will include the fall back px declaration as well as the calculated rem value.
@mixin fontSize($size) {
  font-size: $size;
  font-size: calculateRem($size);
}



@mixin centerer-xy() {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
@mixin centerer-x() {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
@mixin centerer-y() {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}


//MEDIA
$mobile-s: 320px;
$mobile-l: 620px;
$desktop-s: 768px;
$desktop-l: 1070px;

@mixin tablet {
  @media (max-width: #{$desktop-s}){
    @content;
  }
}
@mixin mobile {
  @media (max-width: #{$mobile-l}){
    @content;
  }
}

@mixin desktop {
  @media (max-width: #{$desktop-l}) {
    @content;
  }
}