section.blog
    .container
        h2.blog-section__heading.section-heading
            | Let's blog
        .blog-list
            article.blog-card
                img(src="images/blog-img_2.jpg" alt="").blog-img
                h5.blog-heading Fresh Summer Campaign
                p.blog-text Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed odio dui. Vivamus sagittis lacus vel augue
            article.blog-card
                img(src="images/blog-img_3.jpg" alt="").blog-img
                h5.blog-heading Fresh Summer Campaign
                p.blog-text Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed odio dui. Vivamus sagittis lacus vel augue
            article.blog-card
                img(src="images/blog-img_3.jpg" alt="").blog-img
                h5.blog-heading Fresh Summer Campaign
                p.blog-text Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed odio dui. Vivamus sagittis lacus vel augue
            article.blog-card
                img(src="images/blog-img_4.jpg" alt="").blog-img
                h5.blog-heading Fresh Summer Campaign
                p.blog-text Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed odio dui. Vivamus sagittis lacus vel augue