section.feature
    .container
        h2.feature-section__heading.section-heading
            | We Are An Awesome Agency
        .feature-list
            article.feature-card
                i(class='fa fa-2x fa-edit feature-icon')
                h5.feature-heading feature one
                p.feature-text Aenean lacinia bibendum nulla sed consectetur. Vivamus sagittis lacus vel augue laoreet rutrum faucibus
            article.feature-card
                i(class='fa fa-2x fa-podcast feature-icon')
                h5.feature-heading feature two
                p.feature-text Aenean lacinia bibendum nulla sed consectetur. Vivamus sagittis lacus vel augue laoreet rutrum faucibus
            article.feature-card
                i(class='fa fa-2x fa-search feature-icon')
                h5.feature-heading feature three
                p.feature-text Aenean lacinia bibendum nulla sed consectetur. Vivamus sagittis lacus vel augue laoreet rutrum faucibus
            article.feature-card
                i(class='fa fa-2x fa-linode feature-icon')
                h5.feature-heading feature four
                p.feature-text Aenean lacinia bibendum nulla sed consectetur. Vivamus sagittis lacus vel augue laoreet rutrum faucibus