section.form
    .container
        h2.form-section__heading.section-heading
            | We’d love to hear about your project.
        form.form-block
            .form-inputs
                input(class="form-input" type="text" placeholder="Name")
                input(class="form-input" type="email" placeholder="Email")
                input(class="form-input" type="phone" placeholder="Phone")
            .form-message
                textarea(class="form-textarea" placeholder="Message")
            button.form-button submit
