section.posts
        article.post
            .post-left
                date.post-date Aug 23, 2017
                h5.post-heading akita inu dog
                p.post-text Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed odio dui. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
            .post-right
                img(src="images/post-img_1.jpg" alt="post image").post-img
        article.post
            .post-left
                date.post-date Aug 23, 2017
                h5.post-heading akita inu dog
                p.post-text Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed odio dui. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.r adipiscing elit. Donec sed odio dui. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
            .post-right
                img(src="images/post-img_2.jpg" alt="post image").post-img
