section.team
    .container
        h2.team-section__heading.section-heading
            | our team
        h3.team-subtitle sales long tail influencer pitch release niche market.
        section.team-list
            article.team-card
                img(src="images/team-img_1.jpg" alt="").team-img
                article.team-text
                    h6.team-name Alex Valko
                    span.team-profession CEO
            article.team-card
                img(src="images/team-img_2.jpg" alt="").team-img
                article.team-text
                    h6.team-name David smith
                    span.team-profession photographer
            article.team-card
                img(src="images/team-img_3.jpg" alt="").team-img
                article.team-text
                    h6.team-name Alex Broth
                    span.team-profession WebDesigner
            article.team-card
                img(src="images/team-img_4.jpg" alt="").team-img
                article.team-text
                    h6.team-name Nori Stapori
                    span.team-profession Photographer